.clearfix {
    *zoom: 1; // for oldIE

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after{
        clear: both;
    }
}

.center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tileContentWidth(@w: 0, @margin: 0) {
    width: ((@w - @margin*2) * 100%)/@w;
}

.background-gradient(@start, @stop) {
    background: mix(@start, @stop, 50%);
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background: -webkit-linear-gradient(top, @start, @stop);
    background: -moz-linear-gradient(top, @start, @stop);
    background: -o-linear-gradient(top, @start, @stop);
    background: linear-gradient(to bottom, @start, @stop);
}

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.box-sizing(@sizing) {
    -moz-box-sizing: @sizing;
    -webkit-box-sizing: @sizing;
    box-sizing: @sizing;
}

.size(@width, @height) {
    width: @width;
    height: @height;
}

.square(@size) {
    .size(@size, @size);
}

.outline(@col: #000) {
    outline: 1px solid @col;
}

@defaultfontsize: 16;
@defaultlineheight: @defaultfontsize*1.375;

.font(@fontsize:16,@lineheight:24,@multiplier:1,@lineheightreducer:1) {
    font-size: (@fontsize/@defaultfontsize)*1em;
    line-height: @lineheight/@fontsize/@lineheightreducer;
    //margin: (@lineheight/@fontsize*(@multiplier/(@lineheight/@defaultlineheight)))*1em 0 0; original, harder-to-read version
    //margin: ((@multiplier * @defaultlineheight) / @fontsize) * 1em 0 0;
}

.boxes(@paddingtop:1,@paddingbottom:1,@bordertop:0,@borderbottom:0) {
    @border-top-width: @bordertop*1px;
    @border-bottom-width: @borderbottom*1px;
    padding-top: e(%("%sem%s", (((@paddingtop*@defaultlineheight)-@bordertop)/@defaultfontsize), `@{bordertop}>=1?'; border-top-width: @{border-top-width}':''` )); 
    padding-bottom: e(%("%sem%s", (((@paddingbottom*@defaultlineheight)-@borderbottom)/@defaultfontsize)*1, `@{borderbottom}>=1?'; border-bottom-width: @{border-bottom-width}':''` ));
}

.fixColor(@col) {
    h1, h2, h3, h4, p, li {
        color: @col;
    }
}

/* theme - switch */
.tileTheme(@dir) when (@dir = dark) {
    .tileName {
        color: #fff;
    }
    .tileContent {
        background: #000;
        bottom: 0;
        .background-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.8));
        span {
            .fixColor(#fff);
        }
    }
    .tileLink:hover { 
        background-color: rgba(0,0,0,0.5); 
        box-shadow: 0 0 60px 2px rgba(0,01,0,0.10) inset;
    }
}

.tileTheme(@dir) when (@dir = light) {
    background-color: #000;
    .tileName {
        color: #000;
    }
    .tileContent {
        /*background: #000;*/
        bottom: 0;
        .background-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.8));
        span {
            .fixColor(#000);
        }
    }
    .tileLink:hover { 
        background-color: rgba(255,255,255,0.5); 
        box-shadow: 0 0 60px 2px rgba(255,255,255,0.10) inset;
    }
}

.tileTheme(@dir) when (@dir = blue) {
    background-color: @lightBlue;
    .tileName {
        color: #fff;
        display: none;
    }
    .tileContent {
        /*background: #000;*/
        background: none;
        top: 20px;
        span {
            .fixColor(#fff);
        }
    }
    .tileLink:hover {
        background-color: transparent;
        box-shadow: none;
    }
}

/*.tileTheme(@dir) when (@dir = top) {
    background: #bb0011;
}*/
/*

.dark {
    color: #fff;
    .tileContent {
        background: #000;
        bottom: 0px;
        .background-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.8));
        span {
            color: #fff;
        }
    }
}

.light {
    color: #000;
    .tileContent {
        background: #fff;
        bottom: 0px;
        .background-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.8));
        span {
            color: #000;
        }
    }
    a.tileLink:hover {

        background-color: rgba(255,255,255,0.2); 
        box-shadow: 0 0 60px 2px rgba(255,255,255,0.10) inset;
    }
}


*/
/*h1 {
 .font(48,25);
}*/

/* hide email adresses */
.email:after {
    content: attr(data-domain);
}
.email:before {
    content: attr(data-user);
}
/* or */
.domain:before {
    content: "\0040"; /*unicode @ sign */
}
/* name<span class="domain">abc.com</span> */

