.icon-download-big{background:url('../img/KA-sprites.png') no-repeat 2.627% 5.357%;width:124px;height:123px}
.icon-quote-black{background:url('../img/KA-sprites.png') no-repeat 23.661% 5.764%;width:61px;height:56px}
.icon-quote-white{background:url('../img/KA-sprites.png') no-repeat 36.905% 5.764%;width:61px;height:56px}
.icon-menu{background:url('../img/KA-sprites.png') no-repeat 49.629% 5.666%;width:60px;height:50px}
.icon-knekk{background:url('../img/KA-sprites.png') no-repeat 68.72% 4.95%;width:100px;height:100px}
.icon-download-small{background:url('../img/KA-sprites.png') no-repeat 83.109% 9.735%;width:64px;height:64px}
.icon-logo-big{background:url('../img/KA-sprites.png') no-repeat 2.079% 51.724%;width:300px;height:84px}
.icon-logo-small{background:url('../img/KA-sprites.png') no-repeat 61.695% 51.943%;width:143px;height:120px}
.icon-ln{background:url('../img/KA-sprites.png') no-repeat 7.022% 96.626%;width:320px;height:77px}
.icon-fb{background:url('../img/KA-sprites.png') no-repeat 95.884% 96.573%;width:320px;height:82px}
