/* imports */
@import 'tiles.less';
/* Variables */

@bgBodyCol: #fff; //lighten(@bgBodyCol, 10%) fadein(@bgBodyCol, 10%), fadeout , fade
@bodyFontCol: #555;
@lightBlue: rgb(102,155,200);	
@darkGrey: rgb(52,52,53);
@mediumGrey: rgb(240,241,242);
@mapGrey: rgb(211,212,212);
@footerGrey: rgb(211,212,213);


@wrapperWidth: 1024px;

/*

linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.8) 100%) repeat scroll 0% 0% transparent;

*/

/* hacks */
/*
a { text-decoration: none; outline: none; }

*/

/* fonts */
@font-face {
  font-family: 'Klavika-web';
  src: url('../font/KlavikaWebBasic_EOT/KlavikaWebBasicLight.eot');
  src: url('../font/KlavikaWebBasic_EOT/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('../font/KlavikaWebBasic_WOFF/KlavikaWebBasicLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Klavika-web';
  src: url('../font/KlavikaWebBasic_EOT/KlavikaWebBasicRegular.eot');
  src: url('../font/KlavikaWebBasic_EOT/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), url('../font/KlavikaWebBasic_WOFF/KlavikaWebBasicRegular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* mixins */
.background-gradient(@start, @stop) {
	background: mix(@start, @stop, 50%);
	background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
	background: -webkit-linear-gradient(top, @start, @stop);
	background: -moz-linear-gradient(top, @start, @stop);
	background: -o-linear-gradient(top, @start, @stop);
	background: linear-gradient(to bottom, @start, @stop);
}

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.blockquote { 
	font-family:inherit;
	background-image:url(../img/gfx/quoteSign.png);
	background-position:top left;
	background-repeat:no-repeat;
	background-size:24px;
	margin: 0;
	padding-left: 30px;
	border-left: none;
	font-style: normal;
}

.outline(@col: #000) {
	outline: 1px solid @col;
}

.clearfix() {
// http://nicolasgallagher.com/micro-clearfix-hack/
    *zoom: 1; // for oldIE

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after{
        clear: both;
    }
}

.center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*	Resets	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

/* operations */

/* functions */

/* start css */

html {
	height: 100%;
	width: 100%;
}

body {
	/*height: 100%;*/
	padding: 0;
	margin: 0;
	color: @bodyFontCol;
	font-family: 'Klavika-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

ul {
	list-style-type: none;
}

a, a:visited { color:#469CC9; text-decoration: underline; }

.wrapper {
	width: @wrapperWidth;
	margin: 0 auto;
}

/* buttons */
.button.large {
	position: relative;
	background-color: rgb(0, 107, 183);
	border-radius: 5px;
	border: 1px solid rgb(136, 136, 136);
	background-image: linear-gradient(-180deg, rgb(100, 107, 115) 0%, rgb(59, 58, 60) 100%);
	margin: 16px 0px;
	text-decoration: none;
	padding: 16px;
	text-align: center;
	font-size: 1.8em;
	line-height: 1em;
	color: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px 0px rgba(65, 64, 66, 0.5);
}

/* elements */
.mainCallToAction {
	position: relative;
	clear: both;
	text-align: center;
	background-color: rgb(242, 243, 244);
	border: 1px solid white;
	min-height: 200px;
}


/* dom */
#top {
	height: 60px;
	margin-top: 10px;
	.menuContainer {
		position: relative;
		#mainNav { 
			display: none; 
			position: absolute;
			z-index: 99;
			left: 0px; 
			top: -10px; 
			right: 0px; 
			padding:10px 0;
			background-color: rgba(235,236,237,1.00);  
			.box-shadow(0px 3px 9px 0px rgba(65,64,66,0.50));
			> ul {
				padding-top: 10px;
			}
			/*ul.level1>li.selected ul { 
				display:block; 
				background-color:rgba(130,131,132,0.1);
			}*/
			ul.languageSelect {
				position: absolute;
				right: 20px;
				top: 10px;
				li {
					float: left;
					a {
						display: block;
						color: rgb(34, 34, 34);
						text-decoration: none;
						padding: 7px 12px;
						font-size: 0.9em;
					}
					a.selected {
						background: rgb(226, 227, 228);
					}
				}
			}
			ul.level1 {
				.clearfix();
				margin-top: 60px;
				padding: 10px 20px; 
				display: block;
				border-top: 1px solid rgb(221, 221, 221);
				li {
					display: block;
					width: 20%;
					float: left;
					a {
						display: block;
						margin-bottom: 10px;
						text-decoration: none;
					}
					a.selected {
						font-weight: bold;
					}
					ul.level2 {
						li {
							display: block;
						}
					}
				}
			}
			ul.level2 {
				display: block;
				li {

					width: 200px;
					display: block;
				}
			}
			ul.serviceMenu {
				display: block;
				li {

					width: 200px;
					display: block;
				}
			}
		}
	}
	
	.menu {
		float: left;
		margin-left: 10px;
		z-index: 100;
		position: relative;
		.menuButton {
			cursor: pointer;
			/*display: inline-block;*/
			text-align: center;
			width: 36px;
			height: 36px;
			background-color: rgba(150,152,154,1.00);
			background-image: url(../img/menuIcon.png);
			background-repeat: no-repeat;
			background-position: center 2px;
			background-size: 100%;
			
			span {
				display: block;
			}
		}
		.menuButton:hover {
			background-color: rgba(100,102,104,1.00);
		}
		.menuButton .active {
			background-color: #aaa;
		}
		.menuButtonTxt {
			font-size: 0.75em;
			padding-top: 3px;
			text-align: center;
		}
	}
	
	.breadContainer {
		margin-left: 10px;
		padding-left: 10px;
		padding-top: 3px;
		border-left: 1px solid @mediumGrey;
		float: left;
		.titleContainer {
			font-size: 1.8em;
		}
		.breadCroumbs {
			font-size: 0.8em;
			ul {
				list-style-type: none;
				li {
					float: left;
					a {

					}
				}
				li:after {
					content:"/"; color: #ddd; 
				}
			}
		}
	}

	.logoContainer {
		/*display: inline-block;*/
		float: right;
		width: 200px;
		position: relative;
		#logo { 
			width: 300px/1.7;
			height: 84px/1.7;
			background-image: url(../img/logo.png); 
			background-size: contain; 
			background-position: top right; 
			background-repeat: no-repeat; 
			/*position: absolute; 
			top:10px; 
			right:10px; 	*/
		}

	}
}

#focusArea {
	/* Masthead */
	position: relative;
	.mastHead { 
		min-height: 424px;
		background-color:#ababab; 
		background-image:url(../img/masthead.jpg); 
		background-repeat: no-repeat; 
		/*-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size:cover; */
		background-position:top center;
		-webkit-background-size: 100% auto; 
	    -moz-background-size: 100% auto; 
	    -o-background-size: 100% auto; 
	    background-size: 100% auto; 
	    /*-webkit-background-size: cover; 
	    -moz-background-size: cover; 
	    -o-background-size: cover; 
	    background-size: cover; */
	    /*background-attachment: fixed;*/
		.clearfix();
		.vision {
			background-color: rgb(70,157,201); /* IE8 */
			background-color: rgba(70,157,201,0.9);
			color: #fff;
			margin-top: 30px;
			.center-block();
			width: 320px;
			text-align: left;
			h1 {
				margin-top: 30px;
				padding: 50px 40px;
				font-size: 48px;
				margin: 0;
			}
		}

	}
	
	.subMenu {
		position: absolute;
		width: inherit;
		bottom: 0;
		/*height: 100px;*/
		border-bottom: 1px solid white;
		background: @darkGrey;
		color: #fff;
		/*padding: 20px 30px;*/
		ul {
			width: 100%;
			a:hover {
				text-decoration: underline;
			}
			li {
				width: 29.33%;
				display: block;
				float: left;
				h3 {
					font-size: 1.8em;
					line-height: 110%;
					a {
						text-decoration: none;
						color: #fff;
					}
				}
				ul {
					display: block;
					li {
						width: auto;
						display: inline-block;
						a {
							padding: 0px 6px 0px 0px;
							white-space: nowrap;
							text-decoration: none;
							margin-right: 6px;
							color: rgb(83, 183, 232);
							border-right: 1px solid rgba(255, 255, 255, 0.2);
						} 

					}
					/*li:after {
						content: "|";
						color: #ddd;
					}
					li:last-child:after {
						content: "";
					}*/

				}
			}
			
		}
	}
}

#content {
	position: relative;
	height:100%;
    min-height:100%;
	/*min-height: 400px;*/
}

.callToAction {
	height: 100px;
	min-height: 200px;
	text-align: center;
	position: relative;
	background: #efefef;

	a {
		margin-top: 10%;
		display: inline-block;
		/*vertical-align: middle;*/
		margin-left: auto;
		margin-right: auto;
		position: relative;
		background-color: rgb(0, 107, 183);
		border-radius: 5px;
		border: 1px solid rgb(136, 136, 136);
		background-image: linear-gradient(-180deg, rgb(100, 107, 115) 0%, rgb(59, 58, 60) 100%);
		margin: 16px 0px;
		text-decoration: none;
		padding: 16px;
		text-align: center;
		font-size: 1.8em;
		line-height: 1em;
		color: rgb(255, 255, 255);
		box-shadow: 1px 1px 3px 0px rgba(65, 64, 66, 0.5);
	}
}

/* imageBlock */
.imageBlock .byline {
	position:absolute;
	top:0;
	width:340px;
	right:30px;
	background-color:rgba(0,0,0,0.74);
	color:fff;
	padding:20px 40px;
}
.imageBlock .byline.left {
	left:30px;
	right:auto;
}

.subNav {
	clear: both;
	.wrapper {
		text-align: center;
	}
	ul {
		list-style-type: none;
		li {
			display: inline;
			a {
				display: inline-block;
				padding: 7px 12px;
				
			}
		}
		li:after { 
			content:"|"; color: #ddd; 
		}
	}
}



#footer {
	clear: both;
	.topFooter {
		background: #ccc;
		padding: 20px;
		height: 100px;
		.contact {
			width: @wrapperWidth/4;
			float: left;
			margin: 20px;
			border-right: 1px solid rgb(221, 221, 221);
		}
		.about {
			float: left;
			width: @wrapperWidth/2;
			margin: 20px;
			border-right: 1px solid rgb(221, 221, 221);
		}
		.social {
			float: left;
			width: @wrapperWidth/8;
			margin: 20px;
			
		}
	}
	.langFooter {
		.clearfix();
		background: #aaa;
		padding: 20px;
		.wrapper {
			
			padding-right: 20px;
			ul {
				list-style-type: none;
				float: right;
				width: 220px;
				padding-left: 20px;
				
				li {
					float: left;
				}
				a {
					display: block;
					padding: 7px 12px;
					color: rgb(34, 34, 34);
					font-size: 0.9em;
				}
				a.selected {
					background: rgb(226, 227, 228);
				}
			}
		}
	}
}



/*#pageWrapper {
	width: 1024px;
	margin: 0 auto;
	header {
		height: 50px;
		color: #fff;
		.background-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.8));
	}
}*/

@media only screen and (max-width: 1025px) {
	@wrapperWidth: 100%;
	ul {
		.outline();
	}
	.wrapper {
		width: 100%;
		/*margin: 0 auto; */
	} 

	#footer {
		.topFooter {
			padding: 10px;
			.contact {
				width: 25%;
				margin: 10px;
			}
			.about {
				width: 45%;
				margin: 10px;
			}
			.social {
				width: 20%;
				margin: 10px;
			}
		}
	}
}

@media only screen and (max-width: 479px) {

}
