/* imports */
@import '0_vars.less';
@import '01_mixins.less';
@import '03_fonts.less';
@import '02_sprites.less';
@import '20_mainmenu.less';
@import '23_footer.less';
@import 'buttons.less';
/*@import 'tmp_menu.less';*/
@import 'tiles.less';
@import 'arrow.less';

.blockquote { 
	font-family:inherit;
	background-image:url(../img/gfx/quoteSign.png);
	background-position:top left;
	background-repeat:no-repeat;
	background-size:24px;
	margin: 0;
	padding-left: 30px;
	border-left: none;
	font-style: normal;
}

#toTop {
	position: fixed;
	z-index: 2000;
	right: 15px;
	bottom: 20px;
	padding: 10px;
	background-color: @mediumGrey;
	a {
		color: #000;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}
/* start css */

html {
	height: 100%;
	width: 100%;
}

body {
	/*height: 100%;*/
	padding: 0;
	margin: 0;
	color: @bodyFontCol;
	font-family: 'Klavika-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.5em;
}

ul {
	list-style-type: none;
}

a, a:visited { color:#469CC9; text-decoration: underline; }

img {
    max-width: 100%;
    border-width: 0px;
    vertical-align: middle;
}

/* edit EPiServer */
.editDiv {
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
}

.wrapper {
	/*width: @wrapperWidth;*/
	position: relative;
	max-width: @wrapperWidth;
	margin: 0 auto;
}

/* buttons */
.button {
	display: inline-block;
	padding: 4px 8px;
	border: 1px solid rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);
}
.button.large {
	position: relative;
	background-color: rgb(0, 107, 183);
	border-radius: 5px;
	border: 1px solid rgb(136, 136, 136);
	background-image: linear-gradient(-180deg, rgb(100, 107, 115) 0%, rgb(59, 58, 60) 100%);
	margin: 16px 0px;
	text-decoration: none;
	padding: 16px;
	text-align: center;
	font-size: 1.8em;
	line-height: 1em;
	color: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px 0px rgba(65, 64, 66, 0.5);
}

/* elements */
.mainCallToAction {
	position: relative;
	clear: both;
	text-align: center;
	background-color: rgb(242, 243, 244);
	border: 1px solid white;
	min-height: 200px;
}

a.siteLink { 
	position:relative; 
	margin: 0; 
	text-decoration: none; 
	color: #fff;
}
a.siteLink:before { 
	content:""; 
	display:inline-block; 
	border:0.35em solid transparent; 
	border-left-color:#666;
}
a.siteLink:hover {
	text-decoration: underline;
}
.tile a.siteLink:before { 
	border-left-color:#fff; 
}

.tile.bright a.siteLink:before { 
	border-left-color:#666; 
}
a.siteLink.video { 
	display:inline-block; 
	padding:10px 18px; 
	background-color: #006BB7; 
	font-size:140%;
	transition: background @transTime ease-in;
}

a.siteLink.video:hover {
	background-color: rgba(70, 157, 201, 0.9);
}

a.siteLink.video:after { 
	clear:both; 
}

//.arrow(10px, #08C, bottom, 50%, 1px, darken(#08C, 10%))

/*test floating menu*/
.show {
	position: fixed;
	z-index: 1292;
	/*top: -10px;*/
	left: 10%;
	/*margin-top: -100px;*/
	/*margin-left: -250px;*/
	width: 100%;
	background-color: #fff;
}

.no-show {
	position: relative;
}

/* dom */
/*#top {
	height: 60px;
	margin-top: 10px;
	.menuContainer {
		position: relative;
		nav#mainNav {
			position: absolute;
			z-index: 998;
			left: 0px; 
			top: -10px; 
			right: 0px; 
			padding: 10px 20px;
			background-color: rgba(235,236,237,1.00);
			.box-shadow(0px 3px 9px 0px rgba(65,64,66,0.50));
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
			}
			li {
				
			}
			a {
				display: block;
				color: #222;
				text-decoration: none;
				padding: 8px 0 8px 10px;

			}
			ul.level1 {
				border-top: 1px solid rgb(221, 221, 221);
				padding-top: 10px;
				margin-top: 60px;
				li {
					width: 20%;
					float: left;

					a {
						color: #222;
						font-size: 1em;
						transition: background @transTime ease-in;  
						font-weight: bold;
					}
					a.selected {
						background-color: rgba(70, 157, 201, 0.9);
						color: rgb(255, 255, 255);
					}
					a:hover, a:focus {
						color: #000;
						background: #bbb;
					}
					ul.level2 {

						li {
							width: 100%;
							display: block;
							margin-bottom: 0px;

							a {
								color: #222;

								margin: 0;
								transition: background @transTime ease-in;
								font-weight: normal;
								font-size: .9em;
							}
							a.selected {
								
								background-color: rgba(70, 157, 201, 0.9);
								color: rgb(255, 255, 255);
							}
							a:hover, a:focus {
								background: #bbb;
							}
						}
					}
					ul.serviceMenu {

						li {
							
							width: 100%;
							a {

							}
						}
					}
				}
				li.selected {
						
					a {
						
						background-color: rgba(70, 157, 201, 0.9);
						color: rgb(255, 255, 255);
					}
					background-color: rgba(130, 131, 132, 0.1);
					ul {
						background-color: rgba(130, 131, 132, 0.1);
					}
				}
			}

			ul.languageSelect {
				position: absolute;
				right: 20px;

				li {
					float: left;
					display: block;
					a {
						padding: 7px 12px;
						font-size: .9em;
					}
					a:hover,a.selected {
						background-color: #e2e3e4;
					}
				}
			}
			ul.languageSelect:after {
				clear: both;
				content: " ";
				display: block;
			}
		}
	}
	
	.menu {
		float: left;
		margin-left: 10px;
		z-index: 999;
		position: relative;
		.menuButton {
			cursor: pointer;

			text-align: center;
			width: 36px;
			height: 36px;
			background-color: rgba(150,152,154,1.00);
			background-image: url(../img/menuIcon.png);
			background-repeat: no-repeat;
			background-position: center 2px;
			background-size: 100%;
			
			span {

				display: block;
			}
		}
		.menuButton:hover {
			background-color: rgba(100,102,104,1.00);
		}
		.menuButton.active {
			background-color: #aaa;
		}
		.menuButtonTxt {
			font-size: 0.75em;
			padding-top: 3px;
			text-align: center;
			margin-top: 1px;
			line-height: 1em;
		}
	}
	
	.breadContainer {
		margin-left: 10px;
		padding-left: 10px;
		padding-top: 3px;
		border-left: 1px solid @darkGrey;
		float: left;
		.titleContainer {
			font-size: 1.8em;
		}
		.breadCroumbs {
			font-size: 0.8em;
			ul {
				list-style-type: none;
				li {
					float: left;
					a {

					}
				}
				li:after {
					content:"/"; color: #ddd; 
				}
			}
		}
	}

	.logoContainer {

		float: right;
		width: 200px;
		position: relative;
		#logo { 
			width: 300px/1.7;
			height: 84px/1.7;
			background-image: url(../img/logo.png); 
			background-size: contain; 
			background-position: top right; 
			background-repeat: no-repeat; 

		}

	}
}*/

#focusArea {
	/* Masthead */
	position: relative;
	.mastHead { 
		min-height: 424px;
		background-color:#ababab; 
		background-image:url(../img/masthead.jpg); 
		background-repeat: no-repeat; 
		background-position:top center;
		-webkit-background-size: 100% auto; 
	    -moz-background-size: 100% auto; 
	    -o-background-size: 100% auto; 
	    background-size: 100% auto; 
		.clearfix();
		.vision {
			background-color: rgb(70,157,201); /* IE8 */
			background-color: rgba(70,157,201,0.9);
			color: #fff;
			margin: 30px auto;
			.center-block();
			width: 320px;
			text-align: left;
			position: relative;
			h1 {
				margin-top: 30px;
				padding: 50px 40px;
				.font(48);
				margin: 0;
				line-height: 110%;
			}
		}

	}
	
	.subMenu {
		-bottom: 1px solid rgb(255, 255, 255);
		background: none repeat scroll 0% 0% rgb(52, 52, 53);
		color: rgb(255, 255, 255);
		height: 80px;
		padding: 20px 30px 20px 30px;
		ul.subLevel1 {
			list-style-type: none;
			margin: 0px;
			/*padding: 20px;*/
			
			a:hover {
				text-decoration: underline;
			}
			li {
				
				width: 33%;
				display: block;
				float: left;
				

				h3 {
					font-size: 1.5em;
					line-height: 110%;
					margin: 0.4em 0px;
					a {
						text-decoration: none;
						color: #fff;
					}
				}
				ul.subLevel2 {
					display: block;
					li {
						width: auto;
						display: inline-block;
						line-height: 1.2em;
						a {
							padding: 0px 6px 0px 0px;
							white-space: nowrap;
							text-decoration: none;
							margin-right: 6px;
							color: rgb(83, 183, 232);
							border-right: 1px solid rgba(255, 255, 255, 0.2);
						}
						a:hover, a:focus {
							text-decoration: underline;
						}

					}
					/*li:after {
						content: "|";
						color: #ddd;
					}
					li:last-child:after {
						content: "";
					}*/

				}
			}
			
		}
	}
}

#content {
	position: relative;
	height:100%;
    min-height:100%;
	min-height: 400px;
	/*background: #aabbcc;*/
}

.callToAction {
	height: 100px;
	min-height: 200px;
	text-align: center;
	position: relative;
	background: #efefef;

	a {
		/*margin-top: 10%;*/
		display: inline-block;
		/*vertical-align: middle;*/
		/*margin-left: auto;
		margin-right: auto;*/
		margin: 20px;
		position: relative;
		background-color: rgb(0, 107, 183);
		border-radius: 5px;
		border: 1px solid rgb(136, 136, 136);
		background-image: linear-gradient(-180deg, rgb(100, 107, 115) 0%, rgb(59, 58, 60) 100%);
		/*margin: 16px 0px;*/
		text-decoration: none;
		padding: 16px;
		text-align: center;
		font-size: 1.8em;
		line-height: 1em;
		color: rgb(255, 255, 255);
		box-shadow: 1px 1px 3px 0px rgba(65, 64, 66, 0.5);
	}
}

/* imageBlock */
.imageBlock { position:relative; }
/*.imageBlock .byline {
	background-color:rgba(0,0,0,0.74);
	color:fff;
	padding:20px;
}*/
.imageBlock .byline h2,
.imageBlock .byline h3,
.imageBlock .byline h4,
.imageBlock .byline p { 
	color:#fff; 
}
.imageBlock blockquote { 
	background-image:url(../img/quoteSign_bright.png);
	background-size: 30px auto;
	padding: 20px 20px 20px 40px;
	margin: 0;
}
.imageBlock .byline {
	position:absolute;
	top:0;
	width:300px;
	right:30px;
	background-color:rgba(0,0,0,0.74);
	color:fff;
	padding:20px 40px;
}
.imageBlock .byline.left {
	left:30px;
	right:auto;
}

/* image/hotbox left and right */
.textBlock {
	padding: 30px;
	position: relative;
	/*width: 100%;*/
	h2 {
		font-size: 2em;
		margin: 0.4em 0px;
		line-height: 1.2;
	}
}
.textBlock.centered {
    padding: 30px 240px 30px 80px;
}
.push-left,
.push-right { 
	display: block; 
	margin: 40px; 
	max-width: 340px;
}
.push-left { 
	float: left; 
	margin-left: -40px;
	margin-top: 0; 
}
.push-right 	{ float:right; margin-right:-160px; margin-top:0; }
.hotBox			{ width:340px; background-color:#f8f8f8; padding:15px; }

.subNav {
	clear: both;
	.wrapper {
		text-align: center;
	}
	ul {
		list-style-type: none;
		li {
			display: inline;
			a {
				display: inline-block;
				padding: 7px 12px;
				
			}
			a.selected {
				color: rgb(170, 170, 170);
			}
		}
		li:after { 
			content:"|"; color: #ddd; 
		}
		li:last-child:after {
			content: " ";
		}
	}
}

/* recruit */
div#jobs {
/*	.lang {
		float: left;
		padding: 0 8px 0 8px;
		font-size: .9em;
		a {
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}*/
	table {
		width: 100%;
		border: 0;
		font-size: .9em;
		tr {
			background-color: #fff;
		}
		thead tr td {
			border: 0;
			font-weight: bold;
		}
		tbody tr:hover {
			background: #f7f8f9;
		}
		td {
			border-top: 1px solid rgb(204, 205, 206);
			line-height: 1.5em;
			padding: 8px;
			vertical-align: top;
			text-align: left;
			a {
				text-decoration: underline;
			}
			a:hover {
				color: rgb(0, 0, 0);
			}
		}
		td:last-child {
			/*text-align: right;*/
		}
	}
}

/* products */
.products {
	min-height: 600px;
	background-color: rgb(240, 241, 242);
}

.renders {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	div {
		position: absolute;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
	.imgLayer1 {
		background-image: url("../img/truck-bg.png");
	}
	.imgLayer2 {
		background-image: url("../img/truck-cabinzone.png");
	}
	.imgLayer3 {
		background-image: url("../img/truck-chassiszone.png");
	}
	.imgLayer4 {
		background-image: url("../img/truck-fullcolor.png");
	}
}	 

.menuProductContainer {
	ul {
		position: absolute;
		z-index: 3;
		top: 10px;
		left: 10px;
		li {
			float: left;
			display: inline;
			margin-right: 3px;
			a {
				display: inline-block;
				padding: 10px 10px 2px;
				background-color: rgb(230, 231, 232);
				color: rgb(17, 17, 17);
				text-decoration: none;
				text-transform: uppercase;
				font-size: .9em;
			}
			a.selected {
				background-color: rgb(70, 157, 201);
				color: rgb(255, 255, 255);
			}
			a:hover {	
				background-color: rgb(130, 138, 132);
				color: rgb(255, 255, 255);
			}
		}
	}
}
.subCategories {
	clear: both;
	ul {
		width: 100%;
		position: absolute;
		z-index: 4;
		bottom: 10px;
		left: 10px;
		li {
			float: left;
			/*margin-right: 1px;*/
			padding-bottom: 50px;
			text-align: center;
			font-size: 1.8em;

			a {
				background-color: rgb(230, 231, 232);
				color: rgb(17, 17, 17);
				padding: 20px;
				text-decoration: none;
				border: 1px solid #fff;
			}
			a.selected {
				background-color: rgb(70, 157, 201);
				color: rgb(255, 255, 255);
			}
			a:hover {
				background-color: rgb(255, 255, 255);
				color: rgb(17, 17, 17);
			}
		}
	}
}

ul.productFilter {
	width: 100%;
	padding-top: 10px;
	li {
		float: left;
		margin-left: 1px;
		a {
			padding: 5px;
			background: #eee;
			color: #000;
			font-size: .8em;
		}
		a.selected {
			background-color: rgb(70, 157, 201);
			color: rgb(255, 255, 255);
		}
		a:hover {
			background-color: rgb(255, 255, 255);
			color: rgb(17, 17, 17);
		}
	}
}

.productGridContainer {
	padding-top: 10px;
	.cabin {
		background-color: #ff00dd;
	}
	.driveline {
		background-color: #aabbcc;
	}
	.chassis {
		background-color: #ff3322;
	}
}
/*
#footer {
	clear: both;
	.topFooter {
		background: #ccc;
		padding: 20px;
		height: 100px;
		.contact {
			width: @wrapperWidth/4;
			float: left;
			margin: 20px;
			border-right: 1px solid rgb(221, 221, 221);
		}
		.about {
			float: left;
			width: @wrapperWidth/2;
			margin: 20px;
			border-right: 1px solid rgb(221, 221, 221);
			p {
				padding-right: 10px;
			}
		}
		.social {
			float: left;
			width: @wrapperWidth/8;
			margin: 20px;
			
		}
	}
	.langFooter {
		.clearfix();
		background: #aaa;
		padding: 20px;
		.wrapper {
			padding-right: 20px;
			ul {
				list-style-type: none;
				float: right;
				width: 220px;
				padding-left: 20px;
				
				li {
					float: left;
				}
				a {
					display: block;
					padding: 7px 12px;
					color: rgb(34, 34, 34);
					font-size: 0.9em;
					transistion: back
				}
				a:hover,a.selected {
					background: rgb(226, 227, 228);

				}
			}
		}
	}
}
*/
/* pressrelease */
.button.primary {
    background-color: rgb(0, 107, 183);
    color: rgb(255, 255, 255) !important;
}
.pageHeader {
	background-color: rgb(70, 157, 201);
	.headerContent {
		padding: 40px;
		color: #fff;
		h1 {
			font-size: 40px;
			margin: 0px;
			line-height: 110%;
		}
	}
}

.pageLead {
	padding: 20px 100px 20px 80px;
	background-color: rgb(242, 242, 242);
	h2 {
		color: rgb(65, 64, 66);
		font-size: 2em;
	}
}
.filters {
	padding: 15px;

	h6 {
		font-size: 1em;
		font-weight: normal;
		letter-spacing: 1px;
		margin: 0.4em 0px;
	}
	small {
		font-size: .8em;
	}
	ul {
		margin: 0px;
		padding: 0px;
		li {
			display:inline;
			a {
				color: rgb(45, 53, 62);
				text-decoration: none;
				display: inline-block;
				padding: 4px 8px;
				margin-bottom: 4px;
				background: rgba(230, 231, 232,1);
				color: #414042;
				font-weight: normal;
				font-size: .8em;
			}
		}
	}
}


.contentBox {
	background-color: rgb(238, 245, 249);
	padding: 10px 29px;
	margin: 0;
	h3 {
		font-size: 1.7em;
		line-height: 110%;
	}
	.downloadBox {
		h4 {
			border-bottom: 1px solid rgba(65, 156, 203, 0.5);
			margin: 30px 0px 15px;
			padding-bottom: 15px;
			font-size: 1.5em;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				float: left;
				width: 33%;
				
				a {
					padding: 5px 5px 5px 44px;
					line-height: 110%;
					text-decoration: none;
					background-image: url(../gfx/icon_download.png);
					background-position: 4px 4px;
					background-repeat: no-repeat;
					background-size: 32px auto;
					span {
						display: block;
					}
				}
			}
		}
	}
	.panelContent {

	}
	
}

.contactBox {
	margin-bottom: 30px;
	padding: 0px;
	.contact {
		display: inline-block;
		margin: 0px 5px 20px;
		vertical-align: top;
		width: 32%;
		h4 {
			display: block;
			border-bottom: 1px solid rgb(177, 221, 244);
			color: rgb(65, 64, 66);
			padding: 3px 0px;
			font-size: 22px;
		}
		p {
			font-size: 14px;
			margin: 0px;
			padding: 3px 0px;
		}
	}
}

.pressReleaseContainer {
	padding: 30px 0 30px 30px;
	clear: both;
	width: 70%;
	float: left;
	.newsListBox {
		adding-right: 80px;
		margin: 1.4em 0px;
		a {
			text-decoration: none;
			.pressReleaseDate {
				font-size: 0.8em;
				color: rgb(153, 153, 153);
			}
			.pressReleaseTitle {
				font-size: 1.6em;
			}
			.pressReleaseDescription {
				color: rgb(102, 102, 102);
			}
		}
	}
}

aside {
	float: left;
	width: 20%;
	margin-top: 50px;
	border-left: 1px solid rgb(238, 238, 238);
	padding-left: 20px;
	h3 {
		font-size: 1.5em;
	    line-height: 110%;
	}
	input {
		display: inline-block;
		width: 100%;
		padding: 4px;
		margin-bottom: 0.375em;
		background-color: rgb(255, 255, 255);
		border: 1px solid rgb(140, 155, 171);
		color: rgb(0, 0, 0);
	}
}

/* panels */
ul.tabs {
	display: block;
	margin: 0px 0px 4px 20px;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		display: inline;
		a {
			display: inline-block;
			text-decoration: none;
			padding: 10px 10px 2px;
			font-size: .9em;
			background-color: rgba(230,231,232,1.00); 
			color:#111;
			text-transform: uppercase;
		}
		a:hover {
			background-color: rgba(128,139,133,1);
			color: #fff;
		}
	}
	li.selected {
		a {
			background-color: rgba(70,157,201,1);
			color: #fff;
		}
	}
}




.button.primary {
	background-color: rgb(0, 107, 183);
	color: rgb(255, 255, 255) !important;
}

/* recruit */


/* end pressrelease */


/*#pageWrapper {
	width: 1024px;
	margin: 0 auto;
	header {
		height: 50px;
		color: #fff;
		.background-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.8));
	}
}*/

@media only screen and (max-width: 1025px) {
	body {
		font-size: .9em;	
	}
	ul {
		/*.outline();*/
	}
	.wrapper {
		/*width: 100%;*/
		/*margin: 0 auto; */
	} 
	
	ul.languageSelect {
		
		
		right: 0px;
		
	}

	#footer {
		.topFooter {
			padding: 10px;
			.contact {
				width: 25%;
				margin: 10px;
			}
			.about {
				width: 45%;
				margin: 10px;
			}
			.social {
				width: 20%;
				margin: 10px;
			}
		}
	}
}




@media only screen and (max-width: 479px) {
	body {
		
	}
	/* menu */
	#top {
		height: 60px;
		margin-top: 10px;
		.menuContainer {
			position: relative;
			font-size: 1.1em;	
			nav#mainNav {
				position: absolute;
				z-index: 99;
				left: 0px; 
				top: -10px; 
				right: 0px; 
				padding: 0;
				background-color: rgba(235,236,237,1.00);
				.box-shadow(0px 3px 9px 0px rgba(65,64,66,0.50));
				ul {
					list-style-type: none;
					padding: 0;
					margin: 0;
				}
				li {
					/*float: left;
					display: block;*/
					/*padding: 5px;*/
				}
				a {
					display: block;
					color: #222;
					text-decoration: none;
					padding: 5px 0 5px 10px;
					margin-bottom: 5px;
				}
				ul.level1 {
					/*outline: 1px solid #434;*/
					border-top: 1px solid rgb(221, 221, 221);
					padding-top: 10px;
					margin-top: 0px;
					margin: 10px;
					li {
						width: 100%;
						float: left;
						margin-bottom: 1px;
						a {
							/**/
							color: #222;
							font-size: 1em;
							transition: background @transTime ease-in;  
							font-weight: bold;
						}
						a.selected {
							background-color: rgba(70, 157, 201, 0.9);
							color: rgb(255, 255, 255);
						}
						a:hover, a:focus {
							color: #000;
							background: #bbb;
						}
						ul.level2 {
							/*background: #eee211;*/
							li {
								width: 100%;
								display: block;
								margin-bottom: 0;
								/*background: #aaaddd;*/
								a {
									color: #222;
									/*width: 100%;*/
									margin: 0;
									transition: background @transTime ease-in;
									font-weight: normal;
									font-size: .9em;
								}
								a.selected {
									/*width: 100%;*/
									color: #fff;
									background: #bbb;
								}
								a:hover, a:focus {
									background: #bbb;
								}
							}
						}
						ul.serviceMenu {
							/*background: #aa9922;*/
							li {
								/*outline: 1px solid #aa4400;*/
								width: 100%;
								a {

								}
							}
						}
					}
					li.selected {
						/*outline: 1px solid #ff2200;	*/
						background-color: rgba(130, 131, 132, 0.1);
						ul {
							background-color: rgba(130, 131, 132, 0.1);
						}
					}
				}

				ul.languageSelect {
					position: relative;
					right: 0px;
					top: 0px;
					margin: 10px;
					margin-top: 70px;
					li {
						float: left;
						display: block;
						a {
							padding: 7px 12px;
							font-size: .9em;
						}
						a.selected {
							background-color: #e2e3e4;
						}
					}
				}
				ul.languageSelect:after {
					clear: both;
					content: " ";
					display: block;
				}
			}
		}
		.logoContainer {
			/*display: inline-block;*/
			float: right;
			width: 100px;
			position: relative;
			margin-right: 45px;
			#logo { 
				margin-right: 50px;
				width: 120px;
				height: 65px;
				background-image: url(../img/logo.png); 
				background-size: contain; 
				background-position: top right; 
				background-repeat: no-repeat; 
				/*position: absolute; 
				top:10px; 
				right:10px; 	*/
			}

		}
	}
}

@media only screen and (max-width: 320px) {
	#top {
		.logoContainer {

			/*display: inline-block;*/
			
			float: right;
			/*right:-20px;*/
			margin-right: 0px;
			#logo { 
				margin-right: 0px;
				width: 70px;
				height: 50px;
				background-image: url(../img/logo_vertikal.png); 
				background-size: contain; 
				background-position: top right; 
				background-repeat: no-repeat; 
				/*position: absolute; 
				top:10px; 
				right:10px; 	*/
			}

		}
	}
}

