/* left arrow */
.arrow_box { 
    background: none;
    z-index: 101; 
} 
.arrow_box:after, 
.arrow_box:before { 
    right: 100%; 
    top: 50px; 
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none; 
} 
.arrow_box:after { 
    border-color: none;
    border-right-color: #efefef; 
    border-width: 18px; 
    margin-top: -18px; 
} 
.arrow_box:before { 
    border-color: none;
    border-right-color: #fff; 
    border-width: 21px; 
    margin-top: -21px; 
}

blockquote { 
    font-family:inherit;
    background-image:url(../img/quoteSign_bright.png);
    background-position: 45px left;
    background-repeat:no-repeat;
    background-size: 24px;
    margin: 0;
    padding-left: 30px;
    border-left: none;
    font-style: normal;
}
/* knekken */
.pageHeader .tileRow .tile:last-child:after {
    display:block;
    content:" ";
    width:30px;
    height:30px;
    position:absolute;
    right:0;
    bottom:0;
    background-image:url(../img/knekken.png);
    background-size:100%;
    z-index: 50;
}
        
/* tiles */
.tileRow {
    width: 100%;
    clear: both;
}

.tile {
    position: relative;
    background: #efefef;
    outline: 1px solid #fff;
    float: left;
    overflow: hidden;
    .font(16, 16);
    .tileName {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 1;
        font-size: 0.8em;
    }       
    .tileImg img {
        position: relative;
        width: 100%;
        height: auto;
        max-width: 100%;
        border-width: 0px;
        vertical-align: middle;
    }
    .tileContent {
        position: absolute;
        bottom: 0px;
        left: 0px;
        top: auto;
        right: auto;
        width: 100%;    
        span {
            display: block;
            padding: 20px 30px;
            font-size: 24px;
            line-height: 110%;
            font-family: inherit;
            font-weight: bold;
            color: inherit;
            text-rendering: optimizelegibility;
            a {
                color: inherit;
                text-decoration: none;
                margin-top: 10px;
                display: block;
                /*padding: 10px 18px;*/
            }
            a:before {
                content: ""; 
                display: inline-block; 
                border:0.35em solid transparent; 
                border-left-color: #fff; 
            }
            a:before {
                border-left-color:#fff;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    
}
.tileLink { 
    display:block; 
    position:absolute; 
    top:0; 
    right:0; 
    bottom:0; 
    left:0;
    transition: background @transTime ease-in;
}
/*.tile:hover .tileLink { 
    background-color: rgba(0,0,0,0.5); 
    box-shadow: 0 0 60px 2px rgba(0,01,0,0.10) inset;
}*/

.tile1x1 {
    width: @height;
    height: @height;
    min-height: 256px;
    max-height: 256px;
}

.tile2x1 {
    width: @height*2;
    height: @height;
    min-height: 256px;
    max-height: 256px;
}

.tile2x2 {
    width: @height*2;
    height: @height*2;
    min-height: 512px;
    max-height: 512px;
}

.tile3x2 {
    width: @height*3;
    height: @height*2;
    min-height: 512px;
    max-height: 512px;
}

.tile4x2 {
    width: @height*4;
    height: @height;
    min-height: 512px;
    max-height: 512px;
}

/*.tileProduct {
    width: 20%;
    height: 210px;
    .tileContent {
        font-size: .9em;
    }
}*/


/* themes */
/*#focusArea {*/
    .tile2x2.image.dark {
        .tileContent {
            /*bottom: auto;
            top: auto;*/
            color: #fff;
            left: 30px;
            bottom: 30px;
            background: @lightBlue;
            .tileContentWidth(512px, 30);
        }
    }
    .tile4x2.image.dark {
        .tileContent {
            background: none;
            color: #fff;
        }
    }
    .tile2x1.image.dark,
    .tile1x1.image.dark {
        .tileTheme(darkImage);
    }
    .tile4x2.image.light {
        .tileContent {
            background: none;
            color: #222;
        }
    }
    .tile2x2.image.light,
    .tile2x1.image.light,
    .tile1x1.image.light {
        .tileTheme(lightImage);
    }
    .tile3x2.dark,
    .tile2x1.dark,
    .tile1x1.dark {
        .tileTheme(dark);
    }
    .tile2x2.dark {
        background: @lightBlue;
        .tileContent {
            top: auto;
            bottom: 0px;
            background: none;
            color: #fff;
        }
    }
    .tile3x2.light,
    .tile2x2.light,
    .tile2x1.light,
    .tile1x1.light {
        .tileTheme(light);
    }
    .tile3x2.image {
        .tileTheme(video);
    }
    .tile4x2.left {
        display: block;
        .tileContent {
            background-color: #000;
            color: #fff;
            top: 0;
            bottom: auto;
            left: 30px;
            right: auto;
            width: 340px;
            .font(16, 20);
            display: inline-block;
            span {
                padding: 20px;
                p {
                    /*.font(14, 14);*/
                }
            }
        }
    }
    .tile4x2.right {
        .tileContent {
            background-color: #000;
            color: #fff;
            top: 0;
            right: 30px;
            left: auto;
            bottom: auto;
            width: 340px;
            .font(16, 20);
            display: inline-block;
            span {
                padding: 20px;
                p {
                    /*.font(14, 14);*/
                }
            }
        }
    }
    .tile2x1.quote {
        .tileImg {
            position: relative;
            float: left;
            width: @height*2;
            height: @height*2;
            border-right: 1px solid #fff;
        }
        .tileContent {
            position: relative;
            float: left;
            width: @height*2 - 1px;
            height: @height*2 - 20px;
            margin-top: 20px;
            font-size: 1em;
            blockquote {
                padding: 5px 20px 20px 40px;
                margin-left: 5px;
                margin-left: 24px;
            }
        }
        .tileName {
            position: absolute;
            left: (@height*2) + 5px; 
        }
    }
/*}*/


.hidden { display:none; }

.subscribe {
    .tileName {
        display: none;
    }
    .tileContent {
        top: 0;
        left: 0;
        font-size: 1em;
        span {
            margin: 10px 20px 10px 10px;
            padding: 0;
            h3 {
                font-size: 2em;
                padding: 10px 0 10px 0;
            }
            form input {
                width: 100%;
                display: inline-block;
                padding: 4px;
                margin-bottom: 0.375em;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(140, 155, 171);
                color: rgb(0, 0, 0);
            }
            input:focus, textarea:focus {
                outline: 0px none;
            } 
        } 
    }
}

.iframe iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #efefef;
}



@media only screen and (max-width: 767px) {
    .tile1x1 {
        width: @height*2;
        height: @height*2;
        /*max-height: 512px/3;*/
    }

    .tile2x1 {
        width: 100%;
        height: @height*4;
        max-height: 512px/2;
    }

    .tile2x2 {
        width: 100%;
        height: @height/2;
        /*max-height: 512px/3;*/
    }

    .tile3x2 {
        width: 100%;
        height: @height/2;
        /*max-height: 512px/3;*/
    }

    .tile4x2 {
        width: 100%;
        height: @height;
       /* max-height: 512px/2;*/
    }
}

@media only screen and (max-width: 479px) {
    .tile1x1 {
        width: 100%;
        height: 100%;
        /*max-height: 512px/3;*/
    }

    .tile2x1 {
        width: 100%;
        height: 100%;
        /*max-height: 512px/2;*/
    }

    .tile2x2 {
        width: 100%;
        height: 100%;
        /*max-height: 512px/3;*/
    }

    .tile3x2 {
        width: 100%;
        height: 100%;
        /*max-height: 512px/3;*/
    }

    .tile4x2 {
        width: 100%;
        height: 100%;
       /* max-height: 512px/2;*/
    }
}
