/* left arrow */
.arrow_box { 
    background: none;
    z-index: 101; 
} 
.arrow_box:after, 
.arrow_box:before { 
    right: 100%; 
    top: 50px; 
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none; 
} 
.arrow_box:after { 
    border-color: none;
    border-right-color: #efefef; 
    border-width: 18px; 
    margin-top: -18px; 
} 
.arrow_box:before { 
    border-color: none;
    border-right-color: #fff; 
    border-width: 21px; 
    margin-top: -21px; 
}

blockquote { 
    font-family:inherit;
    background-image:url(../img/quoteSign.png);
    background-position: 45px left;
    background-repeat:no-repeat;
    background-size: 24px;
    margin: 0;
    padding-left: 30px;
    border-left: none;
    font-style: normal;
}
/* knekken */
.pageHeader .tileRow .tile:last-child:after {
    display:block;
    content:" ";
    width:30px;
    height:30px;
    position:absolute;
    right:0;
    bottom:0;
    background-image:url(../img/knekken.png);
    background-size:100%;
    z-index: 50;
}
        
/* tiles */
.tileRow {
    width: 100%;
    clear: both;
}

.tile {
    position: relative;
    background: #efefef;
    outline: 1px solid #fff;
    float: left;
    overflow: hidden;
    .tileName {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 1;
        font-size: 0.8em;
    }       
    .tileImg img {
        position: relative;
        width: 100%;
        height: auto;
        max-width: 100%;
        border-width: 0px;
        vertical-align: middle;
    }
    .tileContent {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 10px 0 10px 0;
        font-size: 1.8em;
        line-height: 100%;
        width: 100%;    
        span {
            display: inline-block;
            padding: 0 10px 0 10px;
        }
    }
    a {
        text-decoration: none;
    }
}
.tileLink { 
    display:block; 
    position:absolute; 
    top:0; 
    right:0; 
    bottom:0; 
    left:0;
    transition: background @transTime ease-in;
}
.tile:hover .tileLink { 
    background-color: rgba(0,0,0,0.5); 
    box-shadow: 0 0 60px 2px rgba(0,01,0,0.10) inset;
}

.tile1x1 {
    width: @height;
    height: @height;
    min-height: 256px;
    max-height: 256px;
}

.tile2x1 {
    width: @height*2;
    height: @height;
    min-height: 256px;
    max-height: 256px;
}

.tile2x2 {
    width: @height*2;
    height: @height*2;
    min-height: 512px;
    max-height: 512px;
}

.tile3x2 {
    width: @height*3;
    height: @height*2;
    min-height: 512px;
    max-height: 512px;
}

.tile4x2 {
    width: @height*4;
    height: @height;
    min-height: 512px;
    max-height: 512px;
}

.tileProduct {
    width: 20%;
    height: 210px;
    .tileContent {
        font-size: .9em;
    }
}


/* themes */
#focusArea2{
    /* tile types: 1x1, 2x2, 3x2, 2x1 */
    .tile {
    
    }
    .tileImage.light {

    }
    .tileImage.dark {

    }
}

#focusArea {
    /* tile types: 4x2, 2x2 */
    position: relative;
    .tile {
        color: #fff;
        background: @lightBlue;
    }
    .tileName {
        display: none;
    }
    .tile2x2 {
        .tileContent {
            .tileContentWidth(512px, 30); //
            color: #fff;
            background-color: rgba(70, 157, 201, 1);
            /*padding: 20px 40px 30px;*/
            margin: 20px;
            /*right: 30px;*/
            span {
                padding: 20px;
                p,li {
                    .font(10, 14);
                }
            }
        }
    }
    .tileImage {
        .tileContent {
            .tileContentWidth(512px, 30); //
            color: #fff;
            background-color: rgba(70, 157, 201, 0.9);
            /*padding: 20px 40px 30px;*/
            margin: 30px;
            /*right: 30px;*/
            span {
                padding: 20px;
                p {
                    .font(12);
                }

            }
        }
    }
    
    .tile3x2 {
        .tileContent {
            .tileContentWidth(100px, 30);
        }
    }
    .tile1x1 {
        .tileContent {
            bottom: 0px;
            left: 0px;
            margin: 0;
            width: 100%;
            .font(18, 20);
            background-color: transparent;
            span {
                padding: 10px;
            }
        }
    }
    

}


.pageHeadImage {
    .tileImg {          
        
    }
    .tileContent {
        position: absolute;
        bottom: 30px;
        color: #fff;

    }
}

.pageHead2x2 {
    color: #fff;
    background: @lightBlue;
    .tileImg {
        float: right;
        width: @height*2;
    }
    .tileContent {
        position: absolute;
        bottom: 30px;
        left: 0px;
        color: #fff;
        width: @height*2;
        max-width: 512px;
        span {
            padding: 30px;  
        }
        h1 {
            /*padding: 0 40px 0 40px;*/
            font-size: 1.4em;
            line-height: 110%;
            margin: 0;
        }
        h3 {
            /*padding: 0 40px 0 40px;*/
            font-size: .85em;
            line-height: 110%;
            margin: 0.7em 0px 0px;
        }
    }
}

/* black & white */
.dark {
    color: #fff;
    .tileContent {
        background: #000;
        bottom: 0px;
        .background-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.8));
        span {
            color: #fff;
        }
    }
}

.light {
    color: #000;
    .tileContent {
        background: #fff;
        bottom: 0px;
        .background-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.8));
        span {
            color: #000;
        }
    }
    a.tileLink:hover {

        background-color: rgba(255,255,255,0.2); 
        box-shadow: 0 0 60px 2px rgba(255,255,255,0.10) inset;
    }
}

.blue {
    color: #fff;
    background: @lightBlue;
    .tileContent {
        position: absolute;
        top: auto;
        bottom: 0px;
        background: @lightBlue;
        text-align: left;
    }
    .tileName {
        display: none;
    }
}

.blueSquare {
    color: #fff;
    .tileContent {
        position: absolute;
        left: 20px;
        bottom: 20px;
        background: @lightBlue;
        padding: 40px;
        .square(220px);
        opacity: 0.9;
    }
}

.blueOverlay {
    color: #fff;
    .tileContent {
        position: absolute;
        background: @lightBlue;
        padding: 40px;
        width: @height2x - 120;
        opacity: 0.9;
    }
}

.blueInfo {
    color: #fff;
    background: @lightBlue;
    .tileName {
        display: none;
    }
    .tileContent {
        position: relative;
        li {
            font-size: 0.5em;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
.hidden { display:none; }
.video_tile {
    position: relative;
    .tileContent {
        padding: 20px 40px 30px;
        left: 30px;
        bottom: 30px;
        width: 40%;
        /*height: 42.5%;*/
        
        background-color: rgba(70, 157, 201, 0.9);
        span {
            color: #fff;
            padding: 20px;
        }
    }
    a.playButton {
        margin-top: 10px;
        display: block;
        padding: 10px 18px;
        font-size: .9em;
        background-color: rgb(0, 107, 183);
        color: #fff;
    }
    a.playButton:hover {
        text-decoration: underline;
    }

    a.playButton:before { 
        content: ""; 
        display: inline-block; 
        border:0.35em solid transparent; 
        border-left-color: #fff; 
    }
    a.playButton:before { 
        border-left-color:#fff; 
    }
 /*   .tile.bright a.siteLink:before { border-left-color:#666; }*/

}

.download {
    .tileName {
        display: none;
    }
    .tileContent {
        text-align: center;
    }
}

.subscribe {
    .tileName {
        display: none;
    }
    .tileContent {
        top: 0;
        left: 0;
        font-size: 1em;
        span {
            margin: 10px 20px 10px 10px;
            padding: 0;
            h3 {
                font-size: 2em;
                padding: 10px 0 10px 0;
            }
            form input {
                width: 100%;
                display: inline-block;
                padding: 4px;
                margin-bottom: 0.375em;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(140, 155, 171);
                color: rgb(0, 0, 0);
            }
            input:focus, textarea:focus {
                outline: 0px none;
            } 
        } 
    }
}

.image {
    .tileContent,
    .tileName {
        display: none;
    }   
}

.iframe iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #efefef;
}

.quote {
    .tileImg {
        position: relative;
        float: left;
        width: @height*2;
        height: @height*2;
        border-right: 1px solid #fff;
    }
    .tileContent {
        position: relative;
        float: left;
        width: @height*2 - 1px;
        height: @height*2 - 20px;
        margin-top: 20px;
        font-size: 1em;
        blockquote {
            padding: 5px 20px 20px 40px;
            margin-left: 5px;
            margin-left: 24px;
        }
    }
    .tileName {
        position: absolute;
        left: (@height*2) + 5px; 
    }

}

@media only screen and (max-width: 767px) {
    .tile1x1 {
        width: @height*2;
        height: @height*2;
        /*max-height: 512px/3;*/
    }

    .tile2x1 {
        width: 100%;
        height: @height*4;
        max-height: 512px/2;
    }

    .tile2x2 {
        width: 100%;
        height: @height/2;
        /*max-height: 512px/3;*/
    }

    .tile3x2 {
        width: 100%;
        height: @height/2;
        /*max-height: 512px/3;*/
    }

    .tile4x2 {
        width: 100%;
        height: @height;
       /* max-height: 512px/2;*/
    }
    /*@height: 25%;
    .focus {
        width: 100%;
        height: auto;
    }*/
    /*.tile {
        width: 100%;
        height: auto; /* IE 8 - not working */
        /*height: 50%;
    }

    .big2x {
        width: @bigTile;
    }*/
}

@media only screen and (max-width: 479px) {
    .tile1x1 {
        width: 100%;
        height: 100%;
        /*max-height: 512px/3;*/
    }

    .tile2x1 {
        width: 100%;
        height: 100%;
        /*max-height: 512px/2;*/
    }

    .tile2x2 {
        width: 100%;
        height: 100%;
        /*max-height: 512px/3;*/
    }

    .tile3x2 {
        width: 100%;
        height: 100%;
        /*max-height: 512px/3;*/
    }

    .tile4x2 {
        width: 100%;
        height: 100%;
       /* max-height: 512px/2;*/
    }
}
